.currbookingvalue{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.studentbookingvalue{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
pastStudentBookingValue{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#videoBG {
    position: fixed;
    z-index: -1;
    opacity: 1;


}
@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #videoBG{
        width: auto;
        height: 100%;
    }
}

.tutorPlatform{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13vh;
    text-align: center;
    padding: 10px;
    font-style: italic;
    color: orange;
}
.departure {
    background: linear-gradient(45deg, orange , blue);
    align-items: center;
    text-align: center;
    width: 450px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
    margin-top: 60px;
    opacity: 0.9;
}
.card{
    background: linear-gradient(45deg, orange , blue);
    align-items: center;
    text-align: center;
    width: 450px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
    margin-top: 60px;
    opacity: 0.9;
}



.container {
    display:flex;
    justify-content: space-evenly;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vh;
    padding: 10px;
    font-style: italic;
    color: orange;
    display: flex;
    justify-content: center
}

.currbookingvalue{
    justify-content: space-evenly;
}

.studentbookingvalue{
    justify-content: space-evenly;
}